<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sara.mislugares">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
    <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcercaDe"
            android:label="@string/title_activity_acerca_de"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".Preferencias"
            android:label="@string/title_activity_preferencias">
            <meta-data
                android:name="android.preference"
                android:resource="@xml/preferencias" />
        </activity>
        <activity
            android:name=".VistaLugar"
            android:label="@string/title_activity_vista_lugar" />
        <activity
            android:name=".EdicionLugar"
            android:label="Edicción de lugares" />
    </application>

</manifest>
